<head>
    <title>Smart Switch Web</title>
</head>

<body></body>

<template name="layout">
    <div class="container-fluid">
        {{> yield}}
    </div>
</template>

<template name="main">
    <div class="row">
        <div class="col-xs-1 col-sm-1 col-lg-1 col-md-1 switch-label">A</div>
        <div class="btn-group col-xs-11 col-sm-5 col-md-5 col-lg-3" role="group">
            <button type="button" data-switch="A" data-status="on" class="btn btn-success col-xs-6">On</button>
            <button type="button" data-switch="A" data-status="off" class="btn btn-danger col-xs-6">Off</button>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-1 col-sm-1 col-lg-1 col-md-1 switch-label">B</div>
        <div class="btn-group col-xs-11 col-sm-5 col-md-5 col-lg-3" role="group">
            <button type="button" data-switch="B" data-status="on" class="btn btn-success col-xs-6">On</button>
            <button type="button" data-switch="B" data-status="off" class="btn btn-danger col-xs-6">Off</button>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-1 col-sm-1 col-lg-1 col-md-1 switch-label">C</div>
        <div class="btn-group col-xs-11 col-sm-5 col-md-5 col-lg-3" role="group">
            <button type="button" data-switch="C" data-status="on" class="btn btn-success col-xs-6">On</button>
            <button type="button" data-switch="C" data-status="off" class="btn btn-danger col-xs-6">Off</button>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-1 col-sm-1 col-lg-1 col-md-1 switch-label">D</div>
        <div class="btn-group col-xs-11 col-sm-5 col-md-5 col-lg-3" role="group">
            <button type="button" data-switch="D" data-status="on" class="btn btn-success col-xs-6">On</button>
            <button type="button" data-switch="D" data-status="off" class="btn btn-danger col-xs-6">Off</button>
        </div>
    </div>
</template>